body {
	width: 100%;
	height: 100%;
}

img {
	width: 25px;
	height: 25px;
<<<<<<< HEAD
}

#divHeader {
	background-color: blue;
}

#divCore {
	background-color: mediumpurple;
}

button {
	background-color: purple;
	font-weight: bold;
	color: white;
=======
>>>>>>> fa3d24c751f867cdf10bd7b5d5295292626d761a
}