<!DOCTYPE html>
<html width="100%" height="100%" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.0.min.js"></script>
    <script src="js/Chart.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/snooZzzvs.png">
    <meta charset="UTF-8">
    <title>Happiness History</title>
</head>
<body width="100%" height="100%">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index"><span style="color: lightblue">SnooZzz </span><span style="color: gold">VS</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./index">Home</a></li>
                    <li><a href="./account">Account</a></li>
                    <li><a href="./help">Help</a></li>
                    <li><a href="./login">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header" align="center">
        <h1>Your Mood Trends!</h1>
    </div>

    <!-- Chart.js -->
    <div style="text-align: center;">
        <div id="yAxisTitle" style="display: inline-block; height: 300px; vertical-align: top; width: 30px">
            <span style="font-weight: bold;"><br><br><br>M<br><br>o<br><br>o<br><br>d<br><br></span>
        </div>
        <canvas id="LineChart" height="300"></canvas>
    </div>

    <hr>
    <!-- Nav for Chart -->
    <div align="center"><h4><strong>Toggle Graphs</strong><small> (y-axis)</small></h4></div>
    <div class="btn-group-wrap">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="chart-toggles btn-group">
                <button id="ex1" class="hB enabled btn btn-default active" data-toggle="button">Wake Up</button>
                <button id="ex2" class="sB enabled btn btn-default active" data-toggle="button">Sleep</button>
                <button id="ex3" class="aB enabled btn btn-default active" data-toggle="button">Average</button>
            </div>
        </div>
    </div>
    <br>

    <div id="sliderContainer" style="text-align:center" id="feeling">
        <h4 id="iAmFeelingH4">Mood Levels:</h4>
        <table align="center">
            <tr>
                <td><i class="em em-persevere"></i></td>
                <td><i class="em em-disappointed"></i></td>
                <td><i class="em em-confused"></i></td>
                <td><i class="em em-neutral_face"></i></td>
                <td><i class="em em-blush"></i></td>
                <td><i class="em em-grinning"></i></td>
                <td><i class="em em-satisfied"></i></td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
        </table><br>
    </div>

    <!--<div align="center"><h4><strong>View By</strong><small> (x-axis)</small></h4></div>-->
    <!--<div class="btn-group-wrap">-->
        <!--<div class="btn-toolbar" role="toolbar" aria-label="...">-->
            <!--<div class="btn-group" role="group" aria-label="...">-->
                <!--<button type="button" class="btn btn-default" id="weekButton">Week</button>-->
                <!--<button type="button" class="btn btn-default" id="monthButton">Month</button>-->
                <!--<button type="button" class="btn btn-default" id="yearButton">Year</button>-->
                <!--<button type="button" class="btn btn-default" id="historyButton">History</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <style>
        .btn-group-wrap {
            text-align: center;
        }
        .btn-toolbar {
            margin: 0 auto;
            text-align: center;
            width: inherit;
            display: inline-block;
        }
        .smileys {
            height: 17px;
        }

        .ex1Highlight {
            background-color: rgba(255, 215, 0, 0.4);
        }

        .ex2Highlight {
            background-color: rgba(173,216,230, 0.4);
        }

        .ex3Highlight {
            background-color: rgba(0, 128, 0, 0.4);
        }
    </style>
    
    <!-- Chart -->
    <script src="js/happinessHistoryButtons.js" type="text/javascript"></script>
    <script src="js/happinessHistoryGraph.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73881570-2', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>