<!DOCTYPE html>
<html width="100%" height="100%" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />
    <link rel="shortcut icon" href="img/snooZzzvs.png">
    <meta charset="UTF-8">

    <title>Help</title>
</head>
<body width="100%" height="100%">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index"><span style="color: lightblue">SnooZzz </span><span style="color: gold">VS</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./index">Home</a></li>
                    <li><a href="./account">Account</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="./login">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- actual page -->
    <div class="page-header" align="center">
      <h1 style="color:black">Help</h1>
    </div>

    <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
    <div class="panel-group center-block" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 10%; display: table; width: 80%;">

        <!-- section 1: Sleep and wake -->
        <div class="myPanel panel-default" style="border-bottom: 0" >
            <a class="panel-default text-center" role="tab" id="headingOne" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span style="font-size: 18px;">Logging sleep and wake data</span>
            </a>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group">

                    <!-- question 1: -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion1a" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="subHeadingOne" role="button" data-toggle="collapse" data-parent="#subAccordion1a" href="#subCollapseOne" aria-expanded="false" aria-controls="subCollapseOne">
                                    <span style="font-size: 15px;">Q: What is the point of logging my data?</span>
                                </a>
                                <div id="subCollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: We believe that the best way to capture the most accurate data is to ask a user like you about your sleep rather than relying on advanced equipments. Doing so will allow you to see your progress and compare your data with others to motivate yourself to adjust your sleep schedule to better fit your lifestyle.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 2 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion1b" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="subHeadingTwo" role="button" data-toggle="collapse" data-parent="#subAccordion1b" href="#subCollapseTwo" aria-expanded="false" aria-controls="subCollapseTwo">
                                    <span style="font-size: 15px;">Q: How many times can I log my data in a given day?</span>
                                </a>
                                <div id="subCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: You can log one set of data for sleeping and one for waking every calendar day. However, you can feel free to modify your existing data or fill in ones that you've missed from past dates.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 3 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion1c" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="subHeadingThree" role="button" data-toggle="collapse" data-parent="#subAccordion1c" href="#subCollapseThree" aria-expanded="false" aria-controls="subCollapseThree">
                                    <span style="font-size: 15px;">Q:How do I fill in missing data or modify my data?</span>
                                </a>
                                <div id="subCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: You would first pick the date you want to modify, if it is today then leave as is. Then modify the data as if you were logging it for the first time, then click set as always. Thats is.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- section 2: Progress -->
        <div class="myPanel panel-default" style="border-bottom: 0">
            <a class="panel-default text-center" role="tab" id="headingTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span style="font-size: 18px;" href="./happinessHistory">Tracking progress</span> 
            </a>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <ul class="list-group">

                    <!-- question 1 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion2a" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub2HeadingOne" role="button" data-toggle="collapse" data-parent="#subAccordion2a" href="#sub2CollapseOne" aria-expanded="false" aria-controls="sub2CollapseOne">
                                    <span style="font-size: 15px;">Q: What does the scale from 1-7 on the y-axis represent?</span>
                                </a>
                                <div id="sub2CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: The scale is the same as the ones when you log your data. 1 being the absolute rock bottom, and 7 being the happiest you can ever be.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 2 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion2b" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub2HeadingTwo" role="button" data-toggle="collapse" data-parent="#subAccordion2b" href="#sub2CollapseTwo" aria-expanded="false" aria-controls="sub2CollapseTwo">
                                    <span style="font-size: 15px;">Q: How is the average calculated?</span>
                                </a>
                                <div id="sub2CollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sub2HeadingTwo">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: The average of a day's data is simply the average of your mood from the 2 sets of data. It changes with the time scale of the x-axis, for example in the years view, the average would be the average of the days in each month, etc.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- section 3: Compare -->
        <div class="myPanel panel-default" style="border-bottom: 0">
            <a class="panel-default text-center" role="tab" id="headingThree" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span style="font-size: 18px;" href="./compare">Comparing data</span> 
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <ul class="list-group">

                    <!-- question 1 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion3a" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub3HeadingOne" role="button" data-toggle="collapse" data-parent="#subAccordion3a" href="#sub3CollapseOne" aria-expanded="false" aria-controls="sub3CollapseOne">
                                    <span style="font-size: 15px;">Q: Whose data am i filtering through?</span>
                                </a>
                                <div id="sub3CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: Your data will be a result of filtering through a set of global data. Meaning a certain number of sets of data from the global data base that best fit your selected filters.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 2 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion3b" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub3HeadingTwo" role="button" data-toggle="collapse" data-parent="#subAccordion3b" href="#sub3CollapseTwo" aria-expanded="false" aria-controls="sub3CollapseTwo">
                                    <span style="font-size: 15px;">Q: Will everyone's identity be anonymous when his or her data is shown?</span>
                                </a>
                                <div id="sub3CollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sub3HeadingTwo">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: Yes. Everyone is only listed as #1, #2, #3 and so on. There will be no mention of names of use of personal information, the same applies to you.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 3 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion3c" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub3HeadingThree" role="button" data-toggle="collapse" data-parent="#subAccordion3c" href="#sub3CollapseThree" aria-expanded="false" aria-controls="sub3CollapseThree">
                                    <span style="font-size: 15px;">Q: What is the point of filtering through other's data?</span>
                                </a>
                                <div id="sub3CollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sub3HeadingThree">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: We believe peer motivation is an effective way to motivate you to be healthy and maintain good sleep habits. When you see others' data, we hope you can see a trend of other people's habits who are achieving or have achieved your goals.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- question 4 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion3d" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub3HeadingFour" role="button" data-toggle="collapse" data-parent="#subAccordion3d" href="#sub3CollapseFour" aria-expanded="false" aria-controls="sub3CollapseFour">
                                    <span style="font-size: 15px;">Q: What is most effective way to use the compare page?</span>
                                </a>
                                <div id="sub3CollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sub3HeadingFour">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: The best way to utilize this function is to decide what data are you interested in seeing the most. You can either have 1 piece of data that you are interested in, or 2. But you need to use at least 1 filter to guide the search. For example, if you want to know the average sleep and wake time of people whose's happiness level is 5, then you would input 5 and leave the other 2 fields blank, the result will show a list of users whose's happiness levels are at 5 and their sleep and wake times. The same can be done with 2 given data and 1 data of interest and vice versa.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- section 4: Alarm -->
        <div class="myPanel panel-default" style="border-bottom: 0">
            <a class="panel-default text-center" role="tab" id="headingFour" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span style="font-size: 18px;" href="./alarm">Alarm</span> 
            </a>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <ul class="list-group">

                    <!-- question 1 -->
                    <li class="list-group-item">
                        <div class="panel-group" id="subAccordion4a" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a class="panel-heading text-center" role="tab" id="sub4HeadingOne" role="button" data-toggle="collapse" data-parent="#subAccordion4a" href="#sub4CollapseOne" aria-expanded="false" aria-controls="sub4CollapseOne">
                                    <span style="font-size: 15px;">Q: What is special about this alarm?</span>
                                </a>
                                <div id="sub4CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sub4HeadingOne">
                                    <ul class="list-group">
                                        <li class="list-group-item">A: It's just like any other alarm unless we can figure out how the math function will work. :)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <style>
        .myPanel {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
        }
        .myPanel a {
            display: block;
            color: black;
            text-decoration: none;
        }
    </style>

</body>
</html>