<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/sleep.css">
    <link rel="shortcut icon" href="img/snooZzzvs.png">
    <meta charset="UTF-8">
    <title>Sleep Time</title>
</head>
<body>
	<div style ="text-align:center" id="divHeader">
		<h1 id="h1Title">Time to go to Sleep!</h1>
		<h2>Today is: February 1st, 2016</h2>
	</div> 

	<div class="timeTable">
		<table align="center" cellspacing="50">
			<tr>
				<td>Hour</td>
				<td>Minutes</td>
			</tr>      
	      	<tr>
	      		<td>AM</td>
	      		<td>PM</td>
	      	</tr>
		</table>
	</div>
</body>
</html>