<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/sleep.css">
    <link rel="shortcut icon" href="img/snooZzzvs.png">
    <meta charset="UTF-8">
    <title>Sleep Time</title>
</head>
<body>
	<div id="divHeader">
	<table>
		<tr>
			<td><h3><span id="leftName">SnooZzz&nbsp;</span><span id="rightName">VS</span></h3></td>
			<td id="rightCell"><img src="img/hamburgerMenu.png"></td>
		</tr>
	</table>
	</div>

	<div style ="text-align:center" id="divTitle">
		<h1 id="h1Title">Time to go to Sleep!</h1>
		<h2>Today is: February 1st, 2016</h2>
	</div> 

	<div class="timeTable">
		<table align="center" cellspacing="50">
			<tr>
				<td>Hour</td>
				<td>Minutes</td>
			</tr>      
	      	<tr>
	      		<td>AM</td>
	      		<td>PM</td>
	      	</tr>
		</table>
	</div>

	<div class="buttons">
		<table align="center" cellspacing="50">
			<tr>
				<td><button id="userBtn">Set</button></td>
				<td><button id="userBtn">Cancel</button></td>
			</tr>
		</table>
	</div>

	<div style="text-align:center" id="feeling">
		<h2>I'm currently feeling: &nbsp</h2>
		<table align="center">
			<tr>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
				<td><img src="img/happy.png"></td>
			</tr>
			<tr>
				<td><button id="userBtn">Back</button></td>
			</tr>
		</table>
	</div>
	<br>
</body>
</html>