<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/wake.css">
    <link rel="shortcut icon" href="img/snooZzzvs.png">
    <meta charset="UTF-8">
    <title>Wake Data</title>
</head>
<body>
	<div id="divHeader">
	<table>
		<tr>
			<td><h3><span id="leftName">SnooZzz&nbsp;</span><span id="rightName">VS</span></h3></td>
			<td id="rightCell"><img src="img/hamburgerMenu.png"></td>
		</tr>
	</table>
	</div>

	<div style ="text-align:center" id="divTitle">
		<h1 id="h1Title">Time to start your day!</h1>
		<h2>Today is: &nbsp;
			<div class="dropdown">
				<button id="dateBtn" onclick="myFunction()" class="dropbtn">February 4th, 2016</button>
				<div id="myDropdown" class="dropdown-content">
					<a href="#">February 4th, 2016</a></li>
					<a href="#">February 5th, 2016</a></li>
					<a href="#">February 6th, 2016</a></li>
				</div>
			</div><br>
		<h3>You woke up at:<h3>
		<p>8:45 AM<p>
	</div> 

	<div style="text-align:center" id="feeling">
		<h2>You are currently feeling: &nbsp</h2>
		<table align="center">
			<tr>
				<td><img src="img/happy.png"></td>
			</tr>
		</table>
	</div>
	<br><br>

	<div class="buttons" align="center">
		<button id="userBtn" onClick="window.location='./wake'">Edit</button><br><br>
		<button id="homeBtn" onClick="window.location='./'">
					Home</button>
	</div>
	<br><br>

	<script type="text/javascript">
			/* When the user clicks on the button, 
			toggle between hiding and showing the dropdown content */
			function myFunction() {
	    		document.getElementById("myDropdown").classList.toggle("show");
			}
			// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  	if (!event.target.matches('.dropbtn')) {

			    var dropdowns = document.getElementsByClassName("dropdown-content");
			    var i;
			    for (i = 0; i < dropdowns.length; i++) {
			      var openDropdown = dropdowns[i];
			      if (openDropdown.classList.contains('show')) {
			        openDropdown.classList.remove('show');
			      }
			    }
		  	}
		}
	</script>
</body>
</html>