#topHalfDiv {
    height: calc(70% - 58px);
    width: 100%;
    background-color: yellow;
}

#bottomHalfDiv {
    height: calc(30% - 58px);
    width: 100%;
    background-color: blue;
}

#topHalfContainer {
    height: 100%;
    width: inherit;
}

#left {
    height: 100%;
    width: 20%;
    background-color: green;
}

#center {
    height: 100%;
    background-color: red;
}

#right {
    height: 100%;
    width: 20%;
    background-color: purple;
}

button {
    width: 71px;
}