#container {
    /*height: 100%;*/
    /*width: 100%;*/
    background-color: green;
}

#topHalfDiv {
    height: calc(50% - 110px);
    width: 100%;
    background-color: yellow;
}

#bottomHalfDiv {
    height: calc(50% - 110px);
    width: 100%;
    background-color: blue;
}