#divContainer {
	height: inherit;
	width: 100%;
}

#divButtonMenu {
	width: inherit;
	height: 100%;
}

.accordionButtons {
	background-color: lightgray;
	font-size: 62px;
	color: black;
	width: inherit;
	height: 12%;
	border-radius: 8px;
	margin-top: 18px;
	font-family: "amaranth";
}

.accordionSubButtons {
	padding: 1px 0px;
	font-size: 54px;
	font-family: "josefin sans";
	list-style-type: none;
	text-align: center;
	background-color: dimgray;
}

.buttonIcons {
	margin-top: 20px;
	padding-left: 20px;
	height: 50px;
	width: 50px;
}

hr {
	margin: 0px;
}