img {
	width:  85px;
	height: 85px;
}

#rightCell {
	width: 100%;
	text-align: right;
	padding-right: 40px;
}

#divHeader {
	width: 100%;
}

#divContainer {
	height: inherit;
	width: 100%;
}

#divButtonMenu {
	width: inherit;
	height: 100%;
}

.accordionButtons {
	background-color: lightgray;
	font-size: 62px;
	color: black;
	width: inherit;
	height: 12%;
	border-radius: 8px;
	margin-top: 18px;
	font-family: "amaranth";
}

.accordionSubButtons {
	padding: 5px 0px;
	font-size: 54px;
	font-family: "josefin sans";
	list-style-type: none;
	text-align: center;
	background-color: dimgray;
}

.textInAccordionSubButtons {
	margin: 0px;
}

#leftName {
	font-size: 62px;
	color: blue;
}

#rightName {
	font-size: 62px;
	color: yellow;
}