#divHeader {
	width: 100%;

}

/*#table {
	height: inherit;
	width: 100%;
	left-margin: 50px;
	font-size: 100px;
}*/

#header {
	font-size: 62px;
	color: blue;
}

#h1Title {
	color: purple;
}

.timeTable {
	font-size: 50px;
}
