
#divTitle {
	width: 100%;
}


#h1Title {
	color: purple;
	font-size: 80px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 50px;
}

p {
	font-size: 55px;
}

.timeTable {
	font-size: 50px;
	background-color: gray;
	text-align: center;
	width: 100%;
	height: 250px;
}

.buttons {
	width: 100%;
	height: 50px;
}

#dateBtn {
	font-size: 30px;
	font-family: "josefin sans";
}

#userBtn {
	font-size: 50px;
	font-family: "josefin sans";
}

#homeBtn {
	font-size: 50px;
	font-family: "josefin sans";
}

#feeling {
	width: 100%;
	color: yellow;
}

#buttonTable {
	height: inherit;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 25px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

.date {
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 320px;
    height: 100px;
}

/* Dropdown button on hover & focus */
.date:hover, .date:focus {
    background-color: #3e8e41;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
