
#divTitle {
	width: 100%;
}

p {
	font-size: 50px;
}

/*#table {
	height: inherit;
	width: 100%;
	left-margin: 50px;
	font-size: 100px;
}*/


#h1Title {
	color: purple;
	font-size: 50px;
}

.timeTable {
	font-size: 35px;
	background-color: gray;
	text-align: center;
	width: 100%;
	height: 200px;
}

.buttons {
	width: 100%;
	height: 50px;
}

#dateBtn {
	font-size: 20px;
	font-family: "josefin sans";
}

#userBtn {
	font-size: 25px;
	font-family: "josefin sans";
}

#homeBtn {
	font-size: 25px;
	font-family: "josefin sans";
}

#feeling {
	width: 100%;
	color: yellow;
}

#buttonTable {
	height: inherit;
}

